* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}

/*Common row & col */
.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-half {
  width: 50%;
}

.col-third {
  width: calc(100% / 3);
}

.col-full {
  width: 100%;
}

/* Common Text center  */
.text-center {
  text-align: center;
}

/* Common margin */
.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav li a {
  text-decoration: none;
  display: inline-block;
  line-height: 46px;
  padding: 0 24px;
}

#nav > li > a {
  text-transform: uppercase;
  color: #fff;
}

#nav > li:hover > a,
#nav .subnav a:hover {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  min-width: 160px;
  list-style-type: none;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav a {
  color: #333;
  padding: 0 16px;
  display: block;
  line-height: 38px;
}

#header .search-btn {
  float: right;
  padding: 0 22px;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header .search-icon {
  color: #fff;
  line-height: 46px;
  font-size: 20px;
}

#slider {
  /* min-height: 500px;
  background-color: #444; */
  margin-top: 46px;
  /* 50% là 50% chiều ngang của chính nó */
  padding-top: 50%;
  background: url("/assets/img/slider/slider1.jpg") top center / cover no-repeat;
  position: relative;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  text-align: center;
  /* các cách căn giữa:
  Cách 1: */
  left: 50%;
  /* lùi lại 50% */
  transform: translateX(-50%);

  /* cách 2: cho width text-content full 100% */
  /* width: 100%; */

  /* cách 3 */
  /* right: 0;
  left: 0; */
}
#slider .text-heading {
  font-size: 24px;
  font-weight: 500;
  margin: 10 0;
}

#slider .text-desc {
  font-size: 15px;
  margin: 15 0;
}

#content .content-section {
  width: 800px;
  padding: 64px 16px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* right: 0; */
}

#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
  text-align: center;
}

#content .section-sub-heading {
  font-style: italic;
  font-size: 15px;
  margin-top: 25px;
  text-align: center;
  opacity: 0.6;
}

#content .content-section .about-text {
  margin-top: 25px;
  line-height: 1.5;
  text-align: justify;
}

#content .introduce-member {
  padding: 48px 0;
  /* Khi dùng float: left (line 182)
sẽ xảy ra vấn đề là thẻ div sẽ bị co nhỏ lại và
ko bao trùm hết nội dung bên trong
=> Cách 1 dùng Clear:both : thêm 1 div trống có class là clear => css (line 11)
=> dùng overflow:hidden để khắc phục (cách 2)
   */
  /* overflow: hidden; */
}

/* #content .member {
  float: left;
  width: calc(100% / 3);
  text-align: center;
} */

#content .mem-name {
  font-size: 15px;
  margin: 15px 0;
}

#content .mem-img {
  border-radius: 4px;
  width: 152px;
}

/* Tour section */

.tour-section {
  background-color: #000;
}

.ticket-list {
  margin-top: 40px;
  background-color: #fff;
  list-style-type: none;
}

.ticket-list li {
  padding: 11px 16px;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
  color: #757575;
}

.ticket-list .sold-out {
  background-color: #f44336;
  padding: 8px 8px;
  margin-left: 16px;
}

.ticket-list .quantity {
  float: right;
  background-color: #000;
  color: #fff;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  /* đây đang css cho thẻ span là 1 inline nên ko dùng
  đc margin right hoặc top => dùng float thì sẽ tự hiểu bỏ
  từ inline chuyển thành block */
  margin-right: 16px;
  margin-top: -2px;
  border-radius: 50%;
}

.location {
  padding: 32px 8px;
  margin: 0 -16px;
  /* thay thế bằng common row */
  /* margin-top: 32px;
  margin-bottom: 48px; */
  /* tương tự trường hợp (line 182) khi dùng float: left(245)
  thẻ div sẽ bị co nhỏ lại => content bên dưới bị tràng ra ngoài
  cách khắc phục: dùng overflow:hidden hoặc clear:both */
  overflow: hidden;
}

.location-detail {
  float: left;
  width: calc(100% / 3);
  text-align: left;
  padding: 0 8px;
}

.location-text {
  color: #000;
  background-color: #fff;
  padding: 0px 16px;
  min-width: 246px;
}

.location-text > p {
  padding: 16px 0;
}

.buy-ticket {
  padding: 10px 16px;
  margin-bottom: 16px;
  font-size: 15px;
  color: #fff;
  background-color: #000;
  border: none;
  font-weight: 400;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}
.buy-ticket:hover {
  color: #000;
  background-color: #ccc;
}

.location-img {
  width: 246px;
}

.location-img:hover {
  opacity: 0.6;
}

.location-date {
  opacity: 0.6;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  /* display: flex; */
  display: none;
  /* animation: modalFadeOut ease-out 0.5s; */
}

.open {
  display: flex;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  max-width: calc(100% - 32px);
  position: relative;
  animation: modalFadeIn ease 0.5s;
  /* animation: modalFadeOut ease-out 0.5s; */
}

.modal-header {
  color: #fff;
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 4px;
}

.modal-heading-icon {
  margin-right: 16px;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12 16;
  cursor: pointer;
  opacity: 0.7;
  font-size: 22px;
}

.modal-close:hover {
  opacity: 0.9;
  color: #000;
  background-color: #ccc;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

#buy-ticket {
  border: none;
  color: #fff;
  background: #009688;
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  padding: 18px;
  cursor: pointer;
}

#buy-ticket:hover {
  /* color: #000;
  background-color: #ccc; */
  opacity: 0.9;
}

.modal-footer {
  float: right;
  padding: 16px;
}

.modal-footer a {
  color: #2196f3;
}

.modal-help {
  font-size: 15px;
  line-height: 1.5;
  /* margin: 15px 0; */
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-140px);
  }
}
.contact-content {
  margin-top: 48px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.5;
}
/* CSS selector nâng cao: chọn các thẻ
i trong contact-info mà có class chứa fa- */
.contact-info i[class*="fa-"] {
  /* display: inline-block; */
  width: 30px;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.row:after {
  content: "";
  /* phải có display thì mới dùng clear đc */
  display: block;
  clear: both;
}

.contact-form .form-submit {
  border: none;
  float: right;
  color: #fff;
  background: #000;
  font-size: 15px;
  padding: 12px 16px;
  border-radius: 5px;
}

.contact-form .form-submit:hover {
  opacity: 0.6;
}

.map-img {
  width: 100%;
  height: 686px;
  /* height: auto; */
  filter: grayscale(50%);
}

.footer-section {
  padding: 64px 64px;
  text-align: center;
  /* font-size: 20px; */
  opacity: 0.6;
}

.footer-section i[class*="fa-"] {
  font-size: 24px;
}

.footer-text {
  margin: 15px 0px;
  font-size: 15px;
  color: #757575;
}

.footer-text a {
  color: #757575;
}
